header .top {
  margin: 0 auto;
  width: 1200px;
  padding: 0 0 26px;
}
header .top h1 {
  float: left;
  padding: 33px;
}
header .top a:first-child {
  margin-right: 28px;
}
header .top > div {
  float: right;
}
header .control {
  float: left;
  padding: 31px 24px 0 0;
}
header .control h2 {
  float: left;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  line-height: 36px;
}
header .control ul {
  float: left;
}
header .control li {
  float: left;
}
header .control li button {
  padding: 0 16px;
  min-width: 36px;
  font-size: 14px;
  color: #3198ce;
  background: white;
  border: 1px solid #dfdfdf;
  height: 36px;
  border-radius: 36px;
  box-sizing: border-box;
}
header .sns {
  float: left;
  padding: 27px 0 0;
  position: relative;
}
header .sns:before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 30px;
  background: #e3e3e3;
}
header .sns li {
  float: left;
  padding: 0 0 0 12px;
}
header .sns li img {
  width: 46px;
}
header .btm {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
header .btm > div {
  margin: 0 auto;
  width: 1200px;
}

header .btm .lnb {
  float: left;
}
header .btm .lnb li {
  float: left;
}
header .btm .lnb a {
  display: block;
  line-height: 59px;
  padding: 0 40px;
  color: #333;
  font-size: 22px;
}

header .btm .spot {
  float: right;
  font-size: 0px;
}
header .btm .spot * {
  vertical-align: middle;
}
header .btm .spot a {
  display: inline-block;
  position: relative;
  padding: 0 25px;
  line-height: 59px;
  color: #666;
  font-size: 15px;
}
header .btm .spot a ~ a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background: #e3e3e8;
  transform: translateY();
}
header .btm .spot button {
  width: 59px;
  height: 59px;
  background: none;
  font-size: 26px;
  color: #0066b3;
}
/* visual */
.visual .slide1 img {
  width: 100%;
}
.visual .controls {
  position:absolute;
  left: 50%;
  padding: 0 32px;
  transform: translateX(-50%);
  bottom: 10px;
}
.visual .controls > button {
  width: 15px;
  height: 25px;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.visual .controls > button.prev {
  left: 0;
  background: url(/images/sBtn_prev.png);
  color: #333;
}
.visual .controls > button.next {
  right: 0;
  background: url(/images/sBtn_next.png);
  color: #333;
}
.visual .paging span {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #d9d9d9;
  margin: 0 5px;
}
.visual .paging {
  line-height: 25px;
}
.visual .paging span.swiper-pagination-bullet-active {
  background: #288bcc;
  width: 30px;
}
.block > div {
  margin: 0 auto;
  width: 1200px;
  padding: 100px 0 0;
}
.block .tit h2 {
  padding: 0 0 28px;
  font-size: 38px;
  color: #333;
  line-height: 1;
}
.block .tit p {
  font-size: 21px;
  color: #666;
  line-height: 1;
  padding: 0 0 40px;
}
.block .tit {
  text-align: center;
}
/* 금융서비스 */
.service{
  padding: 0 0 147px;
}
.service .banner div div {
  width: 280px;
  height: 290px;
  padding: 37px 0 ;
  box-sizing: border-box;
  text-align: center;
}
.service .banner > div {
  width: 580px;
  color: #FFF;
}
.service .banner .left {
  float: left;
  background: url(./images/bg_ad1.png) no-repeat left top;
}
.service .banner .left div{
  float: right;
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}
.service .banner .right{
  float: right;
  background: url(./images/bg_ad2.png) no-repeat right top;
}
.service .banner .right div{
  background: linear-gradient(to right,#334da4 , #3c62b3);
}
.service .banner > div h3{
  font-size: 23px;
  line-height: 31px;
}
.service .banner > div p{
  padding: 12px 0 15px;
  font-size: 13px;
  line-height: 24px;
}
.service .banner  a{
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 140px;
  line-height: 40px;
  text-align: center;
  background: #064ca2;
  border-radius: 7px;
}
.service .event img{
  width: 100%;
}
.service .event {
  float: left;
}
.service .recom {
  float: right;
}
.btn_more{
  position: absolute;
  right: 0;
  top: 0;
  width: 136px;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  font-size: 16px;
  text-align: center;
  color: #8a8a8a;
}
.btn_more:after{
  content: url(images/sArrow_next.png);
  margin:  0 0 0 8px;
}
.service .btm > article {
  position: relative;
  margin: 38px 0 0;
  width: 580px;
}
.service .btm h3 {
  font-size: 26px;
  color: #333;
  padding: 0 0 28px;
}
.service .card_info > div{
  float: left;
}
.service .card_info .card{
  position: relative;
  font-size: 0;
}
.btn_func {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.8);
  font-size: 0;
}
.btn_func:before{
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}
.btn_func button {
  width: 50%;
  height: 45px;
  background: none;
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.btn_func button:before {
  display: inline-block;
  transform: translate(-4px,3px);
}
.service .card_info .info {
  padding: 0 0 0 35px;
  width: 296px;
}
.service .card_info .info p:before{
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 36px;
  height: 2px;
  background: #288bcc;
}
.service .card_info h4{
  font-size: 26px;
  color: #333;
  line-height: 1;
}
.service .card_info p {
  padding: 36px 0 0 0 ;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
  position: relative;
}
.service .slide2{
  border-top: 2px solid #333;
  padding: 20px 0 0;
  height: 224px;
  box-sizing: border-box;
}
.service .slide2 .control {
  position: absolute;
  left: 256px;
  bottom: 0;
  z-index: 100;
}
.service .slide2 .control button {
  width: 75px;
  height: 35px;
  cursor: pointer;
}
.service .slide2 .control button ~ button{
  border-left: 2px solid #ddd;
}
.service .slide2 .control button.prev{
  background: url(/images/sArrow_prev.png) no-repeat center;
}
.service .slide2 .control button.next{
  background: url(/images/sArrow_next.png) no-repeat center;
}

/* 관심정보 */
.fav_info {
  background: #f9f9f9;
  padding: 0 0 100px;
}
.fav_info .left > a{
  display: block;
  width: 384px;
  height: 65px;
  background: #3f69b8;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  line-height: 65px;
  text-align: center;
}
.fav_info .left > a span{
  color: #ffc820;
}
.fav_info .left {
  float: left;
  width: 384px;
}
.fav_info .left .thoumb img {
  width: 100%;
}
.fav_info .left .thoumb {
  padding:  30px 0 0;
}

.fav_info .left .thoumb p {
  position: relative;
  padding: 33px 0 22px;
  font-size: 15px;
  color: #288bcf;
  line-height: 1;
  margin: 0 0 20px;
}
.fav_info .left .thoumb p:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 36px;
  height: 1px;
  background: #288bcf;
}
.fav_info .left .thoumb span {
  font-size: 19px;
  color: #333;
  font-weight: bold;
}
.fav_info .right {
  float: right;
  width: 792px;
}
.tab_type1 {
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.tab_type1 li{
  flex:1;
}
.tab_type1 li a {
  display: block;
  font-size: 17px;
  color: #333;
  text-align: center;
  line-height: 62px;
  background: #fff;
}
.tab_type1 li:first-child a{
  border-radius: 5px 0 0 5px;
}
.tab_type1 li:last-child a{
  border-radius: 0 5px 5px 0;
}
.tab_type1 li ~ li {
  border-left: 1px solid #e4e4e4;
}
.tab_type1 li a:hover{
  background: #f5f5f5;
}
.info_list{
  margin: 30px 0 0;
  border-top: 2px solid #288bcc
}
.info_list li {
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.info_list li a {
  position: relative;
  display: block;
  line-height: 82px;
  font-size: 19px;
  color: #333;
}
.info_list li a:after{
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid #ddd;
  background: url(./images/sBtn_next3.png) no-repeat center;
}
.info_list li a strong {
  display: inline-block;
  width: 130px;
  padding: 0 0 0 30px;
  font-size: 15px;
  color: #288bcc;
}
/* 교육/ 세미나 */
.education {
  padding: 0 0 104px;
}
.education h3 {
  font-size: 23px;
  color: #333;
  padding: 0 0 28px;
  line-height: 1;
}
.education h3 span {
  color: #288bcc;
}
.education .edu_warp {
  display: flex;
  justify-content:  space-between;
}
.education .edu_warp .left{
  width: 580px;
}
.education .edu_warp .left a {
  display: block;
  height: 544px;
  background: url(./images/education.jpg) no-repeat center / auto 100%;
  border-radius: 4px;
  padding: 72px 50px;
  box-sizing: border-box;
  color: #fff;
}
.education .edu_warp .left a strong {
  font-size: 27px;
  display: block;
  width: 330px;
  line-height: 38px;
  padding: 0 0 16px;
}
.education .edu_warp .left a p {
  font-size: 16px;
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 35px;
}
.education .edu_warp .left a span {
  display: block;
  width: 140px;
  line-height: 40px;
  text-align: center;
  border:  1px solid #fff;
  border-radius: 6px;
  font-size: 13px;
}
.education .edu_warp .right{
  width: 580px;
}
.education .edu_warp .right > div~div{
  margin: 55px 0 0;
}
.education .info_wrap{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #333;
  padding: 20px 0 0 ;
}
.education .info_wrap .img{
  position: relative;
  width: 249px;
  height: 198px;
  overflow: hidden;
}
.education .info_wrap .img img{
  width: 100%;
  height: 100%;
}
.education .info_wrap .info {
  width: 296px;
}
.education .info_wrap .info a {
  overflow: hidden;
  display: block;
  width: 296px;
  font-size: 26px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0 0 25px;
}
.education .info_wrap .info li{
  font-size: 17px;
  color: #787878;
  padding: 0 0 17px;
  line-height: 1;
}
.education .info_wrap .info li strong{
  display: inline-block;
  color: #222;
  width: 44px;
}
.education .info_wrap .info p{
  font-size: 17px;
  color: #666;
}
.education .edu_warp .right >div{
  position: relative;
}

/* 여행 /쇼핑 */

.trip {
  padding: 0 0 100px;
  background: url(./images/sky.jpg);
}
.trip .tit h2,
.trip .tit p{
  color: #fff;
}
.trip .trip_list {
  display: flex;
  justify-content: space-between;
}
.trip .trip_list li {
  width: 380px;
  position: relative;
  height: 439px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.trip .trip_list li strong {
  display: block;
  padding: 37px 0 15px;
  color: #333;
  font-size: 24px;
  line-height: 1;
}
.trip .trip_list li p{
  font-size: 18px;
  color: #666;
  line-height: 28px;
  padding: 0 0 20px;
}
.trip .trip_list li.thoumb{
  width: 100%;
  height: 212px;
  border-radius: 5px 5px 0 0;
}
.trip .trip_list li .mark{
  position: absolute;
  right: -10px;
  top: -24px;
}
.trip .trip_list li a {
  display: inline-block;
  width: 148px;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}
/* 위메프 색상 */
.trip .trip_list li.color1 strong span{
  color: #ed2626;
}
.trip .trip_list li.color1 a{
  background: #ed2626;
}
/*롯데관광 색상 */
.trip .trip_list li.color2 strong span{
  color: #122e80;
}
.trip .trip_list li.color2 a{
  background: #122e80;
}
/*국내여행 생상 */
.trip .trip_list li.color3 strong span{
  color: #299bcc;
}
.trip .trip_list li.color3 a{
  background: #288bcc;
}

/* 일자리 정보 부분 */